body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #8A0829, #000000) ;
    }

.box{
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-505, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        border-radius: 15px;
        width: 20%;
        
    }

    fieldset{
        border: 3px solid #8A0829;
    }

    legend{
        border: 1px solid #8A0829;
        padding: 10px;
        text-align: center;
        background-color: #8A0829;
        border-radius: 8px;
    }

    .inputBox{
        position: relative;
    }

    .inputUser{
        background: none;
        border: none;
        border-bottom: 1px solid #ffffff;
        outline: none;
        color: #ffffff;
        font-size: 15px;
        width: 100%;
        letter-spacing: 2px;
    }
    .inputUser:focus ~ .labelInput,
    .inputUser:valid ~ .labelInput {
        top: -20px;
        font-size: 12px;
        color: #8A0829;
    }
    
    .labelInput{
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        transition: 5s;
    }

    #data-nascimento{
        border: none;
        padding: 6px;
        border-radius: 6px;
        outline: none;
        font-size: 15px;
    }

    #submit{
        background-image: linear-gradient(45deg, #8A0829, #000000);
        width: 100%;
        border: none;
        color: #ffffff;
        padding: 15px;
        border-radius: 6px;
        font-size: 15px;
        cursor: pointer;
    }

